[Unit]
Description=Cadence Timer for xdg-pause (Runs every 10 minutes)

[Timer]
OnCalendar=*:00,10,20,30,40,50:00
Persistent=true

[Install]
WantedBy=timers.target
